.integrations__section{
    padding-bottom: 24px;
}
.integrations__section__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.integrations__section__title {
    font-size: 24px;
    font-weight: bolder;
    padding-right: 8px;
}

.integrations__title {
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
}