<main class="container">
  <div class="header">
    <h1>Todos</h1>
  </div>
  <%= turbo_frame_tag "todos", class: "todos" do %>
    <%= render @todos %>
  <% end %>
  <%= turbo_frame_tag Todo.new  %>
  <div class="todos__footer">
  <%= link_to "New todo",
                new_todo_path,
                class: "link__button",
                data: { turbo_frame: dom_id(Todo.new) } %>
  </div>

</main>